@charset "UTF-8";
/* CSS for the responsive custom themes */
@media only screen and (max-width: 922px){
	/*mobile display and hide class*/
	.isMobile{
			display:block;
		}
	.notMobile{
		display:none;
		}
	/*adjust padding for main container for mobile*/
	.container-top{
		padding-top:50px;
		}
	/*login container redirect for mobile*/
	.loginContainer{
		float:left;
		}
	.navbar{
		height:105px;
		}
}
@media only screen and (max-width: 992px){
	.content-img,.newport-content-img{
		margin-top:100px;
		}	
}
@media only screen and (max-width: 992px){
	.thumbnail-wrapper{
		height:auto;
		min-height: 194px !important;
		}
	
	.logo,.name,.title{
		position:absolute;
		}
	.logo img{
		width:30%;
		height:auto;
		}
	.parallax_wrapper .scrollBar{
	height:50px;
		}
	/*login resize for input fields*/
	form li{
	display:block;
	padding-top:12px;
	}
	/*thumbnail hover buttons resize*/
	.view-details-btn,.view-site-btn,.loramead-thumb-btn{
		top:35%;
		}
	.thumb-title{
		top:-356px;
		}	
	/*main content description resize*/
	.content-img,.newport-content-img{
		margin-top:0px;
		}	
	.content-description{
		padding-top:0px;
		padding-bottom:50px;
		}
	/*education and work section styles*/
	.education p{
	margin-top:0px;
	}
	/*login container and form input and submit button resize for mobile set div and input to 100%*/
	.loginContainer{
		width:100%;
		padding-bottom:55px;
		}
	form input{
		width:100%;
		}
	.submit-btn{
		margin-top:15px;
		}
	.submit-btn:active{
		margin-top:16px;
		}
		
	/*Footer content resize for mobile*/
	.row1,.row2,.row3{
	padding-left:0%;
	}
	.socialMedia h1{
	padding-left:0%;
	}
	.author{
	margin-left:0px;
	}
	.author p{
	padding-left:10%;
	padding-right:10%;
	}
	
}
@media only screen and (max-width: 768px){
		.thumbnail-wrapper{
			min-height: auto !important;
			}
	}
@media only screen and (max-width: 768px) and (orientation: landscape){
.parallax_wrapper{
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-attachment:scroll;	
	margin-bottom:0px;
	padding:0px;
	}
.navbar{
	position:absolute;
	left:0px;
	width:100%;
	}
.name{
display:none;
	}
.title{
	display:none;
	}
.logo{
	top:7%;
	}
.logo img{
		width:30%;
		height:auto;
		}
.scrollBar .glyphicon{
	 top:17px;
	}
}
@media only screen and (max-width: 768px) and (orientation: portrait){
.parallax_wrapper{
	background-size: auto 100%;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-attachment:scroll;	
	margin-bottom:0px;
	padding:0px;
	}
.logo{
	top:36%;
	}
.logo img{
		width:55%;
		height:auto;
		}
.scrollBar .glyphicon{
	 top:17px; 
	/* top: 8px; */
	}
.glyphicon img{
		width: 5%;
		height:auto;
	}
}
@media only screen and (max-width: 480px){
		/*social media resize in the footer*/
	.socialMedia_left li a,.socialMedia_right li a{
	font-size:16px;
	}
	.glyphicon img{
		width: 10%;
		height:auto;
	}
}
@media only screen and (max-width: 376px){
	.rewards-btn li:nth-child(2){
		padding-top:39px;
	}
}


