/*----------------------------------------------------------------*/
/* CSS for landing.html, Confirmation.html, confirmation-end.html */
/*----------------------------------------------------------------*/
.wheel-of-pleasure-the-prizes .navi {
	float: left;
	width: 112px;
	bottom: 475px;
	position: relative;
}
.navi {
	height: 20px;
	margin-left: 55px;
	width: 150px;
}
/* Landing Page */


.wrap {
	position: relative;

}
/*
.playGameLayer {
	background: url(../images/landing-page/landing-page.jpg);

}
.enter-btn {
	bottom: 52px;
	right: 5px;
	background: url(../images/landing-page/landing-enter-btn.png);
	background-size: 100% auto;
	width:106px;
	height: 32px;
	overflow: hidden;
}
.enter-btn:hover {
	background-position: bottom;
}*/
.banner {
	left: 1px;
	top: 7px;
}

/*
#eblast-popup {
	width: 100%;
	height: 100%;
	background: url(../images/landing-page/eblast.png) no-repeat center center;
	display: none;
}
#about-the-sweeps-popup {
	width: 100%;
	height: 100%;
	background: url(../images/landing-page/about-the-sweeps.jpg) no-repeat center center;
	display: none;
}
*/
/* Confirmation Page */
.address {
	top: 235px;
	left: 15px;
	width: 290px;
	text-align: center;
	font-size: 16px;
	line-height: 4px;
	/*text-transform: uppercase;*/
}
.confirm-btn, .change-btn {
	bottom: 13px;
	width: 117px;
	height: 33px;
}
.confirm-btn {
	left: 20px;
	background: url(../images/confirmation-page/confirm.jpg);
}
.change-btn {
	right: 20px;
	background: url(../images/confirmation-page/change.jpg);
}
.confirm-btn:hover {
	background-position: bottom;
}
.change-btn:hover {
	background-position: bottom;
}

/*Confirmation End*/
.endPrize {
	top: 62px;
	left: 17px;
}

/* Global Overrides */
.gold-phone {
	position: absolute; 
	top: 27px; 
	left: 7px;
}

.footer_button_holder {
    padding-top: 0;
    padding-bottom: 0;

}
.wheel-of-pleasure-a-winner .prizes {
	float: left;
	margin-top: 6px;
}


.footer_button_holder {
    margin-top: -3px;
    z-index: 999;
}

